* {
  margin: 0;
  padding: 0;
  outline: 0;
 
}
body{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

li{
list-style: none;
}

.menu-header{

display: flex;
position: fixed; 
width: 100%; 
padding: 8px; 
padding-bottom: 32px; 
padding-top: 32px;
height: 60px; 
background-color: #b1845f; 
}


.menu-header nav {
display: flex; 
justify-content: flex-end; 
width: 100%; 
}

.lista-menu{
  display: flex;
  justify-content: space-evenly;
  width: 50%; 
  align-items: center; 
}


.lista-menu li>a {
  color: #FFF; 
  font-size: 18px;
  text-decoration: inherit; 
}

.principal{
  height: 100vh; 
  display: flex;
  background-color: #fcdeb8; 
}

.container img {
max-width:400px;
max-height:400px;
width: auto;
height: auto;
}

.container img {
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}

.container {
margin-right: auto;
margin-left: auto;
margin-top: 75px; 
max-width: 960px; 
padding-right: 10px; 
padding-left: 10px;
width: 100%; 
}
.subcontainer-principal {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.nome-completo {
font-size: 36px;
color: #4d3223;
font-weight: 700;
height: 45px;
}
.ocupacao{
color: #4d3223;
height: 60PX;
}
.texto-sobre {
font-size: 20px;
line-height: 32px; 
}
.article-lista{
display: flex;
flex-direction: column;
margin-top: 100px;
margin-bottom: 100px;
}

.topico-principal {
font-size: 36px;
color: #573f24;
}

.lista-item{
<<<<<<< HEAD
padding: 32px;
}
=======
  padding: 32px;
 }
>>>>>>> 69593663a8c2a68e8263d791693fc1f831946a53
.lista-item ul li {
margin-bottom: 32px;  
}

.lista-titulo{
margin-bottom: 5px; 
font-size: 22px;
color: #80613e;
font-weight: 700;
}

.lista-local{
<<<<<<< HEAD
font-size: 18px;
color: #3f86af;

=======
  font-size: 18px;
  color: #3f86af;
  
>>>>>>> 69593663a8c2a68e8263d791693fc1f831946a53
}

.lista-descricao {
font-size: 18px;
margin-top: 5px;
line-height: 20px; 
color: #000000;
font-weight: 300;
}

.rodape{
background-color: #fff0db;
height: 250px;
display: flex;
align-items: center;

}

.lista-rodape li{
color: #000000;
font-weight: 700;
font-size: 18px;
margin-bottom: 14px;
display: flow-root;
align-items: center;
margin-left: 1;
}

.estilo-icone{
font-size: 30px;
margin-right: 10px;
}